@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
.About {
  //border: 2px solid greenyellow;
  padding: 20px;
  display: flex;
  gap: 30px;
  font-family: "Lora", serif;
  color: #9a9a9a;
  .containerAbout {
    padding: 0 10%;
  }
}
.titulo{
//border:  4px solid rgb(0, 96, 128);
width: 100%;
margin-left: -90px;
}
.historia{
  margin-left: -90px;
  //border: 2px solid orangered;
  width: 170%;
}
.img{
  //border: 2px solid yellow;
  margin-left: 50px;
  margin-right: 30px;
  margin-top: 30px;

}
.historiaa{
  //border: 3px solid rgb(144, 0, 255);
  width: 600px;
  margin-left: -100px;
}
.historiaaa{
  //border: 3px solid green;
  width: 175%;
  margin-left: -90px;
}

