.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
  background: var(--PrimaryColor, #029b94);
  width: 100%;
  padding: 0, 10%;

  .containerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    width: 100%;

    .text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .texto1 {
        display: flex;
        width: 100%;
        text-align: center;

        height: 60px;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-family: Sora;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .texto2 {
        width: 100%;
        color: #fff;
        text-align: center;

        /* heading/40px/boid */
        font-family: Sora;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .button {
      border: 0;
      width: 336px;
      height: 50px;
      display: flex;
      padding: 10px 0px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 40px;
      background: #fff;
      color: var(--PrimaryColor, #029b94);

      /* heading/40px/boid */
      font-family: Sora;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .cont {
      display: flex;
      width: 100%;

      justify-content: space-between;
      align-items: center;

      align-self: stretch;
      margin-bottom: 40px;

      .texto {
        width: 167px;
        color: #fff;
        font-family: "Sora";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .redes {
        width: 212px;
        height: 30px;
        display: flex;
        align-items: center;
        gap: 30px;
        .redes-icon {
          width: 28px;
          height: 28px;
          color: #fff;
        }

        .texto {
          color: #fff;
          font-family: "Sora";
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    .containerFooter {
      padding: 0px;
      margin: 0px;
      .text {
        padding: 0, 10%;
        display: flex;
        flex-direction: column;

        .texto1 {
          margin-top: 40px;

          text-align: start;
        }
        .texto2 {
          color: #fff;
          text-align: start;
        }
      }

      .cont {
        padding: 0%;

        .texto {
          margin-left: 20px;
        }

        .redes {
          width: 212px;
          height: 30px;
          display: flex;
          align-items: center;
          gap: 30px;
          .redes-icon {
            width: 28px;
            height: 28px;
            color: #fff;
          }

          .texto {
            color: #fff;
            font-family: "Sora";
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
  }
}
