@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

:root {
  // Colores
  $color-primary: #009a93;
  $color-secondary: #5ebfc3;
  $color-tertiary: #6fc4c7;
  $color-quaternary: #95d1d6;
  $color-quinary: #c6e5eb;

  // Tipografía
  $font-family-primary: "Lora", serif;
  $font-weight-bold: 700;
}